torch==2.5.1
torchaudio==2.5.1
numpy==2.2.6
scipy==1.14.1
soundfile==0.13.1
librosa==0.9.2
tqdm==4.67.1
Unidecode==1.4.0
num2words==0.5.14
inflect==7.0.0
cn2an==0.5.23
jieba==0.42.1
pypinyin==0.44.0
jamo==0.4.1
gruut==2.4.0
gruut-ipa==0.13.0
gruut_lang_en==2.0.1
g2p-en==2.1.0
anyascii==0.3.3
viphoneme==3.0.0
underthesea==8.3.0
vinorm==2.0.7
gradio==5.38.0
fastapi==0.116.1
uvicorn==0.35.0
huggingface_hub>=0.20.0
eng-to-ipa==0.0.2
